/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


/*Geral*/

:root{
  --main: #1cac06;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

/*Header*/

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.headingSub{
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #0c4603bb;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before{
  width: 100%;
}

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main);
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--main);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}

/* Home */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}

.home .wave{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 12rem;
}

/* Sobre */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* Projetos */

.projects .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;

}

.projects .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.projects .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects .box-container .box:hover img{
  transform: scale(1.1);
}

.projects .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.projects .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.projects .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.projects .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

/* Definições */

.banner{
  background: url(../img/banner.png) no-repeat;
  margin-top: 6rem;
}

.banner .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.banner .row .content{
  flex:  1 1 39rem;
}

.banner .row .content h3{
  font-size: 2rem;
  color: var(--main);
  text-transform: uppercase;
}

.banner .row .content p{
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}

.banner .row .image{
  flex: 1 1 41rem;
  margin-bottom: -14rem;
}

.banner .row .imageR img{
  width: 450px;
  margin-left: 10rem;
}

.banner .row .imageL img{
  width: 450px;
  margin-right: 10rem;
}



/* Ongs */

.ongs .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.ongs .box-container .box{
  background: var(--bg);
  padding: 3rem;
  text-align: center;
  border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
}

.ongs .box-container .box:hover{
  border-radius: .5rem;
}

.ongs .box-container .box img{
  height: 12.5rem;
  width: 13.5rem;
  margin-bottom: .5rem;
}

.ongs .box-container .box h3{
  font-size: 2.6rem;
  color: var(--black);
  padding: 1rem 0;
}

.ongs .box-container .box p{
  font-size: 1.5rem;
  color: var(--black);
  padding: .5rem 0;
}

/* footer */

.footer{
  background: url(../img/footer.jpg) no-repeat;
  background-size: cover;
  padding: 3rem 7%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: var(--main);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links i{
  color: var(--main);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .days{
  margin-left: 2.2rem;
  line-height: .2;
}

.footer .box-container .box .email{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--white);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .share a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: var(--black);
  background: var(--white);
  font-size: 1.2rem;
  border-radius: 5rem;
  margin-right: .8rem;
  text-align: center;
  margin-top: 1.4rem;
}

.footer .box-container .box .share a:hover{
  background: var(--main);
}

.footer .credit{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2.5rem;
  color: var(--black);
  border-top: .2rem solid rgba(0, 0, 0, 0.2);
}

.footer .credit .link{
  color: var(--main);
}

#btnTop {
  position: fixed;
  bottom: 75px;
  right: 30px;
  width: 75px;
  height: 75px;
  background-color: rgb(187, 130, 77);
  border: solid #000 2px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  border: solid #fff;
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Responsividade */

@media(max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

}
